BookARoom.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
BookARoom.xcodeproj/project.xcworkspace/xcuserdata/wjacobs.xcuserdatad/UserInterfaceState.xcuserstate
BookARoom.xcodeproj/xcuserdata/wjacobs.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
